head
  title Rubberband - API Requests
  link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet", type="text/css")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  style!= styleSheet
  
body 
  .container
    .row
      .col-xs-12
        .panel.panel-default Rubberband - CSV / JSON Indexor
          .panel-body
            form#uploadForm(ref='uploadForm', action='http://localhost:7200/process', method='post', enctype='multipart/form-data')
              input(type="search" placeholder="Index", name='index').form-control.survey-id
              input(type="search" placeholder="Type", name='type').form-control.survey-id
              input(type="search" placeholder="CSV Path (required)", name='csvpath').form-control.survey-id
              input(type="search" placeholder="Save Path", name='savepath').form-control.survey-id
              input.btn.btn-lg.upload-btn(type='submit', value='Post Request')
                
  script(src="https://code.jquery.com/jquery-2.2.0.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
